* {
    font-family: 'Roboto', sans-serif;
}
.seat {
    height: 25px;
    width: 25px;
    border: solid 1px black;
    margin: 5px;
}

#bus-app {
    display:flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}