/* some color palette
#292930 - grey
#FCC133 - yellow
#3EB650 - green
#E12B38 -red

*/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
#bus-app {
   
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    border: 1px solid red;
    
}

#bus-info{
    display:flex;
    justify-content: center;
    background-color: #292930;
    color: white;
    border: 1px solid yellow;
    height: 20vh;
}

th, td{
    padding: 5px;
}

th {
    font-size: 1.5em;
}
td{
    font-size: 0.5em;
}
#seats {
    display:flex;
    flex-direction: row;
}
#seat-display {
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:60vw;
    border: 1px solid green;
}

.seat {
    height: 10vh;
    width: 10vw;
    margin: 5px;
}



.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    
}

#seat-info {
    border: 1px solid blue;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:40vw;
    align-items: center;
}
.form-group {
    margin: 25px 0 25px 0;
}


footer {
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}